@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-roman.latin.var.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-italic.latin.var.woff2) format('woff2');
  font-named-instance: 'Italic';
}
@font-face {
  font-family: 'libre-baskerville';
  font-style: normal;
  font-weight: 400 700;
  font-display: block;
  src: url(/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf)
    format('woff2');
}
@font-face {
  font-family: 'libre-baskerville';
  font-style: bold;
  font-weight: 400 700;
  font-display: block;
  src: url(/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf) format('woff2');
}
@font-face {
  font-family: 'libre-baskerville';
  font-style: italic;
  font-weight: 400 700;
  font-display: block;
  src: url(/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf) format('woff2');
}
@font-face {
  font-family: 'honk';
  font-style: normal;
  font-weight: 400 700;
  font-display: block;
  src: url(/fonts/Honk/Honk-Regular-Variable.ttf) format('woff2');
}
@font-face {
  font-family: 'dos';
  font-style: normal;
  font-weight: 400 700;
  font-display: block;
  src: url(/fonts/Perfect_DOS_VGA_437_Win.ttf) format('woff2');
}
@font-face {
  font-family: 'chicago';
  font-style: normal;
  font-weight: 400 700;
  font-display: block;
  src: url(/fonts/Chicago.ttf) format('woff2');
}
@font-face {
  font-family: 'transformers';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/transformers.ttf) format('woff2');
}

/* ITC Giovanni */
@font-face {
  font-family: 'ITC Giovanni Std';
  src: url('/fonts/giovanni/GiovanniStd-BlackItalic.eot');
  src:
    local('ITC Giovanni Std Black Italic'),
    local('/fonts/giovanni/GiovanniStd-BlackItalic'),
    url('/fonts/giovanni/GiovanniStd-BlackItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/giovanni/GiovanniStd-BlackItalic.woff2') format('woff2'),
    url('/fonts/giovanni/GiovanniStd-BlackItalic.woff') format('woff'),
    url('/fonts/giovanni/GiovanniStd-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Giovanni Std';
  src: url('/fonts/giovanni/GiovanniStd-Bold.eot');
  src:
    local('ITC Giovanni Std Bold'),
    local('/fonts/giovanni/GiovanniStd-Bold'),
    url('/fonts/giovanni/GiovanniStd-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/giovanni/GiovanniStd-Bold.woff2') format('woff2'),
    url('/fonts/giovanni/GiovanniStd-Bold.woff') format('woff'),
    url('/fonts/giovanni/GiovanniStd-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Giovanni Std';
  src: url('/fonts/giovanni/GiovanniStd-Black.eot');
  src:
    local('ITC Giovanni Std Black'),
    local('/fonts/giovanni/GiovanniStd-Black'),
    url('/fonts/giovanni/GiovanniStd-Black.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/giovanni/GiovanniStd-Black.woff2') format('woff2'),
    url('/fonts/giovanni/GiovanniStd-Black.woff') format('woff'),
    url('/fonts/giovanni/GiovanniStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Giovanni Std';
  src: url('/fonts/giovanni/GiovanniStd-BookItalic.eot');
  src:
    local('ITC Giovanni Std Book Italic'),
    local('/fonts/giovanni/GiovanniStd-BookItalic'),
    url('/fonts/giovanni/GiovanniStd-BookItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/giovanni/GiovanniStd-BookItalic.woff2') format('woff2'),
    url('/fonts/giovanni/GiovanniStd-BookItalic.woff') format('woff'),
    url('/fonts/giovanni/GiovanniStd-BookItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Giovanni Std';
  src: url('/fonts/giovanni/GiovanniStd-BoldItalic.eot');
  src:
    local('ITC Giovanni Std Bold Italic'),
    local('/fonts/giovanni/GiovanniStd-BoldItalic'),
    url('/fonts/giovanni/GiovanniStd-BoldItalic.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/giovanni/GiovanniStd-BoldItalic.woff2') format('woff2'),
    url('/fonts/giovanni/GiovanniStd-BoldItalic.woff') format('woff'),
    url('/fonts/giovanni/GiovanniStd-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Giovanni Std Bold';
  src: url('/fonts/giovanni/GiovanniStd-Book.eot');
  src:
    local('ITC Giovanni Std Book'),
    local('/fonts/giovanni/GiovanniStd-Book'),
    url('/fonts/giovanni/GiovanniStd-Book.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/giovanni/GiovanniStd-Book.woff2') format('woff2'),
    url('/fonts/giovanni/GiovanniStd-Book.woff') format('woff'),
    url('/fonts/giovanni/GiovanniStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.funnyfont {
  font-family: 'honk', 'libre-baskerville', 'Inter var';
  font-variation-settings: 'wght' 850;
  font-size: 3.75rem;
  line-height: 1;
}

.dosfont {
  font-family: 'dos', 'Inter var';
}

.transformersfont {
  font-family: 'transformers', 'Inter var';
  font-variation-settings: 'wght' 850;
  font-size: 3.75rem;
  line-height: 1;
}

.giovannifont {
  font-family: 'ITC Giovanni Std', 'Inter var';
  font-variation-settings: 'wght' 850;
  font-size: 3.75rem;
  line-height: 1;
}

body {
  font-family:
    Arial,
    sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  -webkit-font-smoothing: subpixel-antialiased;
  /* font-feature-settings: 'case' 1, 'cpsp' 1, 'dlig' 1, 'cv01' 1, 'cv02',
    'cv03' 1, 'cv04' 1; */
  /* font-variation-settings: 'wght' 450;
  font-variant: common-ligatures contextual; */
  letter-spacing: 0em;
  background-image: url('/images/17.jpg');
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
  background-attachment: fixed;
}

b,
strong,
h3,
h4,
h5,
h6 {
  font-variation-settings: 'wght' 650;
}
h1 {
  font-family:
    Arial,
    'transformers',
    'dos',
    'Inter var',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  font-variation-settings: 'wght' 850;
  letter-spacing: 0.2rem;
}
h2 {
  font-variation-settings: 'wght' 750;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
}

.prose a {
  color: #0074de;
}

.nav-line .nav-link {
  color: #69778c;
}

.websitecarbonbadge {
  /* background-color: #ffffff !important; */
  color: #000000 !important; /* Ensure dark text */
  border-radius: 4px; /* Optional: Rounded corners */
  padding: 2px 6px;
}

.websitecarbonbadge a {
  color: #000000 !important; /* Ensure link text stays visible */
}
